*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;

}

h1, h2, h3, h4{
    color: #fff;
    text-align: center;
}

.div1{
    background-color: #000;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}

.div3{
    background-color: #242424;
    height: 75vh;
    background-size: cover;
    background-position: center;
}

.div2{
    background-image: url(./back1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#divh1{
    font-size: 72px;
    padding-top: 75px;
    text-align: center;
}

#dch1{
    font-size: 72px;
    padding-top: 300px;
    text-align: center;

}

header{
    height: 100vh;
    background-size: cover;
    background-position: center;
}

footer{
    height: 20vh;
    background-size: cover;
    background-position: center;
    background-color: #000;
}

ul{
    list-style-type: none;
    float: right;
    margin-top: 75px;
}

ol{
    list-style-type: none;
    float: left;
    margin-top: 75px;
    margin-left: 450px;
}

ol li {
    display: inline-block
}

ol li{
    display: inline-block;
}

ol li a{
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid #8400FF transparent;
    transition: 0.5s ease;
}

ol li a:hover{
    background-color: #8400FF;
    color: #fff;
}

ol li.active a{
    background-color: #8400FF;
    color: #fff;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid #8400FF transparent;
    transition: 0.5s ease;
}

ul li a:hover{
    background-color: #8400FF;
    color: #fff;
}

ul li.active a{
    background-color: #8400FF;
    color: #fff;
}

.logo img{
    float: left;
    width: 250px;;
    height: auto;
    margin-top: 50px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#cp{
    background-color: #000;
    height: 10vh;
    background-size: cover;
    background-position: center;
}

.title h1{
    color: #fff;
    font-size: 100px;
    text-align: center;
}

.title h2{
    color: #fff;
    font-size: 55px;
    text-align: center;
}

.button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #8400FF;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
    margin: 10px 10px;
}

.btn:hover{
    background-color: #8400FF;
    color: #fff;
}


.left{
    float: left;
    margin-top: 75px;
    margin-left: 75px;
    background-color: #000;
}

.right{
    float: right;
    width: 60%;
    margin-top: 75px;
    margin-right: 75px;
    background-color: #000;
    color: #fff;
}

table, tr, th{
    background-color: #242424;
    background-size: cover;
    background-position: center;
    padding-right: 50px;
    padding-top: 50px;
    color: #ffff;
}

.ft{
    background-color: #000;
}

.back-video{
    position: absolute;
    size: cover;
    width: 100%;
    background-image: linear-gradient(to right, #141414, #2F2F2F);
}

.content1{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #000;

}
