/*Start of Global */
*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;

}

h1, h2, h3, h4{
    color: #fff;
    text-align: center;
}

/* End Of Global */



/* Start Of Header */


header{
    height: 20vh;
    background-size: cover;
    background-position: center;
    background-color: #000;
}

.main{
    max-width: 1200px;
    margin: auto;
}



ul{
    list-style-type: none;
    float: right;
    margin-top: 75px;
}


ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid #8400FF transparent;
    transition: 0.5s ease;
}

ul li a:hover{
    background-color: #8400FF;
    color: #fff;
}

ul li.active a{
    background-color: #8400FF;
    color: #fff;
}

.logo img{
    float: left;
    width: 250px;;
    height: auto;
    margin-top: 50px;
}

/* End Of Header */

/* Start of footer */
footer{
    height: 20vh;
    background-size: cover;
    background-position: center;
    background-color: #000;
}

ul{
    list-style-type: none;
    float: right;
    margin-top: 75px;
}

ol{
    list-style-type: none;
    float: left;
    margin-top: 75px;
    margin-left: 400px;
}

ol li {
    display: inline-block
}

ol li{
    display: inline-block;
}

ol li a{
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid #8400FF transparent;
    transition: 0.5s ease;
}

ol li a:hover{
    background-color: #8400FF;
    color: #fff;
}

ol li.active a{
    background-color: #8400FF;
    color: #fff;
}

#cp{
    background-color: #000;
    height: 10vh;
    background-size: cover;
    background-position: center;
}

/* End of footer */

/* Start Of Content */

.forms{
    height: 120vh;
    background-size: cover;
    background-position: center;
    background-color: #000;
}

.forms h1{
    font-size: 100px;
    padding-top: 75px;
}

.left{
    float: left;
    background-color: #fff;
    padding: 50px 50px;
    margin-left: 250px;
    margin-top: 50px;
}

.left h1{
    color: #000;
    font-size: 36px;
}

.left input{
    padding: 10px 25px;
}

.right{
    float: right;
    margin-top: 0px;
    padding-right: 250px;
}

.right h1{
    font-size: 36px;
    color: #8400FF;
    text-align: left;
}

.right h2{
    font-size: 26px;
    color: #fff;
    text-align: left;
}
